* {
  user-select: none;
}
.slide {
  width: 27svh;
  background: #efeaea;
  position: relative;
  height: 16svh;
  border-radius: 15px;
  left: 0;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.contianer {
  width: min-content;
  height: min-content;
  position: relative;
}

.slider-container {
  display: flex;
  gap: 15px;
  height: fit-content;
  width: 34.5svw;
  padding-top: 2vh;
  scroll-snap-type: x mandatory;
  transition: all 0.5s;
  position: relative;
  left: 0;
  overflow: hidden;
}

.buttons {
  height: 3.5vh;
  width: 3.5vh;
  display: flex;
  background: rgba(183, 176, 176, 0.6509803922);
  border-radius: 50%;
  justify-content: center;
  box-shadow: 0px 1px 1px 1px black;
  cursor: pointer;
  position: absolute;
  top: 55%;
  transform: translate(-50%,-50%);
  align-items: center;
  img {
    height: 15px;
    margin-left: 2px;
  }
}

.lowerThan {
  left: 17px;
  display: none;
  img {
    transform: rotateZ(178deg);
    left: 6px;
    top: 5px;
    margin-left: 0px;
  }
}

.greaterThan {
  left: 75%;
}

.active-slide {
  border: 1px solid;
}
