<mat-grid-list cols="2" rowHeight="53px" guttersize="10px">
    <mat-grid-tile colspan="2" rowspan="1">
        <div>
            <span>Instant Discount Offer</span>
            <span>Instant Discount Offer</span>
            <span>Instant Discount Offer</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="lowerNavbar">
            <div class="logoContainer">
                <div class=""></div>
                <div><img src="" alt=""></div>
                <div class=""></div>
            </div>
            <div class="searchContainer">

            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>