.container {
  background: black;
  height: 32svw;
}

@media screen and (max-width: 425px) {
  .container{
    height: 70svw;
  }
}


.slide {
  position: relative;
  height: 100%;
  left: 0;
  display: flex;
  transition: all 1s;
  img{
    height: 100%;
    width: 100svw;
    object-fit: fill;
    }
}
