<app-navbar></app-navbar>
<div class="container">
  <div class="category"></div>
    <div class="mobileViewContent">
      <div>Sort</div> 
      <div>Filters</div>
      <hr/>
    </div> 
  <app-breadcrumbes></app-breadcrumbes>
  <div class="categoryPreview">
    <div class="categoryPreviewLeft">
      <div class="categoryHeading">Men T-Shirts - <span style="color: #747070;">76 items</span> </div>&nbsp;&nbsp;
      <div>FILTERS </div>&nbsp;&nbsp;
      <hr/>
      <div><button class="categoryProducts">Products</button></div>
      <div class="checkBoxsAndNames">
        <ng-container *ngFor="let category of categories; let i = index;">
          <div class="input-label-pair">
            <input type="checkbox" id="checkbox{{ i }}" />
            <label for="checkbox{{ i }}">{{ category }}</label>
          </div>
        </ng-container>
      </div><br>
      <hr/>
      <div><button class="categoryProducts">Price</button></div>
    <hr/>
      <p-slider [(ngModel)]="rangeValues" [range]="true"></p-slider>

      <div><button class="products">Min</button> to
        <button class="products">Max</button>&nbsp;&nbsp;
        <button class="products">Go</button>
      </div>
      <div><button class="categoryProducts">Ratings</button></div>
      <div class="checkBoxsAndRating">
        <ng-container
          *ngFor="let ratings of ['5-Star.svg', '4-Star.svg', '3-Star.svg', '2-Star.svg', '1-Star.svg']; let i = index">
          <div class="input-label-pair">
            <input type="checkbox" id="checkboxs{{ i }}" />
            <label for="checkbox{{ i }}" class="ratingsAndReview">
              <img class="ratingImgs" [src]="'../../../assets/' + ratings" alt="" />
            </label>
          </div>
        </ng-container>
      </div>
      &nbsp;&nbsp;
      <hr/>
    </div>

    <div class="categoryPreviewRight">
      <div class="catSelector">
        <select id="itemSelector">
          <option value="4">Select Sorting Options</option>
          <option value="AtoZ">A to Z</option>
          <option value="ZtoA">z to A</option>
          <option value="16">Price-High to Low</option>
          <option value="LowtoHigh">Price-Low to High</option>
          <option value="newest">Newest</option>
          <option value="popularity">Popularity</option>
        </select>
      </div>
      <div class="card-container">
        @for (item of CategoryItem; track $index;) {
        <ng-container  *ngFor="let item of CategoryItem let i = index;">
          <div (click)="goToCategoryPage()" class="categoryItem">
            <div class="categoryItemInner" [ngStyle]="{'background-color': getBackgroundColor(i)}">
              <span>
                <svg (click)="addWishList()" width="22" height="20" viewBox="0 0 22 `20" fill="none"
                  xmlns="http://www.w3.org/2000/svg" class="wishlist">
                  <path
                    d="M6 1C3.239 1 1 3.216 1 5.95C1 8.157 1.875 13.395 10.488 18.69C10.6423 18.7839 10.8194 18.8335 11 18.8335C11.1806 18.8335 11.3577 18.7839 11.512 18.69C20.125 13.395 21 8.157 21 5.95C21 3.216 18.761 1 16 1C13.239 1 11 4 11 4C11 4 8.761 1 6 1Z"
                    stroke="#302F2F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
              <img [src]="item.imageUrl" alt="" />
            </div>
            <div class="categoryItemText">
              <p class="ItemText1">{{ item.title }}</p>
              <p class="ItemText2">{{ item.Influncer }}</p>
              <p class="ItemText3">
                {{ item.price }}&nbsp;&nbsp;<s>{{ item.originalPrrize }}</s>&nbsp;&nbsp;<b>{{ item.off }}</b>
              </p>

              <div class="ratings">
                @for (item of [1, 2, 3, 4, 5]; track $index;) {
                <img class="ratingImg" (click)="addRating($index)" src="../../../assets/star.svg" alt="">
                }
                <p>(150)</p>
              </div>
            </div>
          </div>
        </ng-container>
        }
      </div>

    </div>

    </div>
    </div>