<app-navbar></app-navbar>
<div class="order-confirmation">
    <div class="orderConfirmation-header">
        <h2>Order Confirmtion</h2>
        <hr />
    </div>
    <div class="order-confirmationMain">
        <img src="../../../assets/videoplayback-1--unscreen.gif" alt="" />
        <p>Thank you Hariom, </p>
        <p>Your order has been received.</p>
    </div>
    <div class="order-confirmationPrice">
        <div class="priceHeading">
            <P>Product</P>
            <P>Price</P>
        </div>
        <div class="itemDetails">
            <p>1 X Name of Product</p>
            <p>₹ 700</p>
           </div>
           <div class="itemDetailsItems">
            <p>1 X Name of Product</p>
            <p>₹ 50</p>
            </div>
            <div class="itemDetailsItems">
                <p>1 X Name of Product</p>
                <p>₹  50</p>
            </div><br/>
            <hr class="line"/>
            <div class="itemDetailsItem">
                <p>Total</p>
                <p>₹ 800</p>
            </div>
            <hr class="line"/>
            <h4>Estimated delivery on 6th Feb 2024</h4>
          </div>
          <div class="orderConfirmationButton">
            <button>
                My Orders
            </button>
            <button>
                Continue Shoppig
            </button>
          </div>
</div>