.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: max-content;
  margin-top: 1.8%;
  gap: 10px;
}
app-breadcrumbes {
  display: flex;
  width: 32%;
  justify-content: center;
}

.product {
  min-height: 77svh;
  border: 3px solid;
  background: #ffa0a0;
  border-radius: 8px;
  display: flex;
  position: relative;
  width: 55svh;
  user-select: none;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  span {
    position: absolute;
    width: 4vh;
    height: 4vh;
    right: 13px;
    background: white;
    top: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: auto;
      cursor: pointer;
    }
  }
}

.productPreview {
  display: flex;
  gap: 5%;
  margin-left: 19.7vh;
  justify-content: flex-start;
}

.influencerAvatar {
  height: 6svh;
  border-radius: 50%;
  width: 6svh;
  background: #d9d9d9;
  border: 2px solid;
}

.influencer {
  display: flex;
  align-items: center;
  gap: 25px;
  span {
    color: #1967d2;
    text-decoration: underline;
  }
}

.productDetails {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.productDetails > span:not(.influencer) {
  font-family: var(--fontProduct);
  font-size: 24px;
  color: #e82323;
}

.ratings {
  display: flex;
  gap: 10px;
}

.fontMontserrat {
  font-family: var(--fontNavbar) !important;
  margin: 0px;
  color: #302f2f !important;
  font-size: 20px;
  font-weight: 600;
}

.smallerFont {
  font-size: 14px !important;
}

.ratings span:last-child {
  color: #46a01c;
}

.productData div:nth-child(2) {
  width: 40%;
  font-size: 14px;
  word-wrap: normal;
  color: gray;
}

hr {
  margin-top: 20px;
  width: 60%;
  margin-bottom: 25px;
  color: gray;
}

.colorPicker {
  display: flex;
  gap: 25px;
}

.sizeBox,
.sizeChart,
.colors,
.productSpecs,
.price {
  display: flex;
  gap: 10px;
}

.chartConatiner {
  margin-top: 20px;
  box-shadow: 1px 2px 0px 3px black;
  border-radius: 7px 6px 10px 10px;
  width: 75vh;
}

.sizeChart {
  padding-top: 17px;
  cursor: pointer;
}

.chartBox {
  width: fit-content;
  .Chart {
    background: #ed4444;
    border-radius: 7px 5px 0px 0px;
  }
  .sizeAdjustment {
    width: 100%;
  }
}

.colors div {
  border-radius: 50%;
  width: 2vh;
  height: 2vh;
  border: 2px solid white;
  box-shadow: 0 0 0 2px black;
  cursor: pointer;
}

.size {
  display: flex;
  gap: 25px;
  margin-top: 25px;
  align-items: center;
}

.sizeBox div {
  box-shadow: 1px 1px 1px 1px #070707;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  font-size: 14px !important;
  cursor: pointer;
}

.pricePannel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.offerButton::after {
  content: "";
  position: absolute;
  top: -100px;
  left: 35px;
  width: 0;
  height: 0;
  border-right: 35px solid transparent;
  border-top: 100px solid white;
}

.offerButton {
  box-shadow: 1px 1px 1px 1px black;
  height: 3svh;
  width: 11svh;
  font-size: 11px !important;
  line-height: 3svh;
  border-radius: 5px;
  text-align: center;
  background: #ed4444;
  cursor: pointer;
}

.sizeBox div:hover {
  background: #ed4444;
  color: white;
}

.price span:first-child {
  font-size: 24px;
}

.price span:nth-child(2) {
  text-decoration: line-through;
  color: gray;
  font-weight: 400;
}

.price span:nth-child(3) {
  color: #46a01c;
}

.productSpecs {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.dataGrid {
  width: 60% !important;
  text-align: start;
  ::ng-deep .mat-grid-tile-content {
    display: block !important;
  }
}

.extraProducts {
  overflow-x: hidden;
  width: 28.3svw;
}
