<mat-grid-list cols="2" rowHeight="53px" guttersize="3px">
  <mat-grid-tile colspan="2" rowspan="1">
    <div class="navBar">
      <span>Instant Discount Offer</span>
      <div class="navbarOptions">
        <span>Track Order</span>
        <span>About Us</span>
        <span>Contact Us</span>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" class="mat-grid-tile">
    <div class="lowerNavbar">
      <span>Merch Raja</span>
      <div class="navbarButtons">
        <span>Home</span>
        <span>Influencer</span>
        <span>Categories</span>
        <span>Featured Collection</span>
        <span>Products</span>
      </div>
      <div class="navbarIcons">
        <img src="../../../../assets/search.svg" alt="">
        <div class="heartsWrapper">
          <img src="../../../../assets/heart.svg" alt="">
        </div>
        <div class="cartsWrapper">
          <img src="../../../../assets/cart.svg" alt="">
        </div>
        <img src="../../../../assets/profile.svg" alt="">
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
