<div class="container">
  <section class="influncerProductData">
    <div class="cardOne">
      <img src="../../../assets/img-13-copyright.png.svg" alt="">
    </div>
    <div class="cardTwo">
      <img src="../../../assets/img-14-copyright.png.png" alt="" srcset="">
    </div>
    <svg width="150" height="301" viewBox="0 0 150 301" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g style="mix-blend-mode:luminosity">
        <path d="M159.292 0L150.27 150.27L141.248 0H159.292Z" fill="#1A9AE2" />
        <path d="M120.094 2.78369L150.271 150.27L102.664 7.45391L120.094 2.78369Z" fill="#1A9AE2" />
        <path d="M82.9495 15.6206L150.271 150.27L67.3242 24.6424L82.9495 15.6206Z" fill="#1A9AE2" />
        <path d="M50.3922 37.6338L150.269 150.27L37.6328 50.3908L50.3922 37.6338Z" fill="#1A9AE2" />
        <path d="M24.6429 67.3213L150.271 150.27L15.6211 82.9489L24.6429 67.3213Z" fill="#1A9AE2" />
        <path d="M7.4554 102.664L150.269 150.27L2.78516 120.091L7.4554 102.664Z" fill="#1A9AE2" />
        <path d="M0 141.249L150.27 150.27L0 159.292V141.249Z" fill="#1A9AE2" />
        <path d="M2.78516 180.45L150.269 150.271L7.4554 197.877L2.78516 180.45Z" fill="#1A9AE2" />
        <path d="M15.6211 217.592L150.271 150.271L24.6429 233.219L15.6211 217.592Z" fill="#1A9AE2" />
        <path d="M37.6328 250.15L150.269 150.271L50.3922 262.907L37.6328 250.15Z" fill="#1A9AE2" />
        <path d="M67.3242 275.898L150.271 150.271L82.9495 284.92L67.3242 275.898Z" fill="#1A9AE2" />
        <path d="M102.664 293.087L150.271 150.271L120.094 297.757L102.664 293.087Z" fill="#1A9AE2" />
        <path d="M141.248 300.541L150.27 150.271L159.292 300.541H141.248Z" fill="#1A9AE2" />
      </g>
    </svg>
    <img src="../../../assets/Group 1000006038.png" alt="">
    <div class="influencerData">
      <img class="rect" src="../../../assets/Rectangle 238.svg" alt="" srcset="">
      <h3>Hey, Social Media Influencer! </h3>
      <div>
        <span style="color: #FFFF00;">Yeah, you.</span>
        <span>
          The one with the awesome content and the loyal fans. You know what you
          need?
          Your own merch.
        </span>
      </div>
      <div>
        <span>And you know who can help you with that?</span><span style="color: #FFFF00;">Merch Raja.</span>
      </div>
      <span>
        Merch Raja is the ultimate merchandising solution for social media influencers in
        India.
      </span>
      <span>
        We take care of everything from designing to manufacturing to printing to shipping
        to customer support.
      </span>
      <span>
        You only have to promote your merch to your audience, rest everything we will take
        care of.
      </span>
      <span>
        Sounds too good to be true, right? Well, it’s not. It’s Merch Raja.
      </span>
      <div class="join">
        Join Now
      </div>
    </div>
  </section>
  <section class="chooseUs">
    <img src="../../../assets/Group 1000006109.svg" alt="">
    <span>Why Choose Us?</span>
    <div class="grid">
      <div class="A1">
        <img src="../../../assets/MerchRajaVertical Logo copy 2.svg" alt="">
        <div>
          “What we patch is not just a hole,
          but a trend.
          We don’t apply the same old patches,
          we sew new ones that make our
          customers cool and quirky.”
        </div>
      </div>
      <div class="A2">
        <div>
          <img src="../../../assets/Group.svg" alt="">
        </div>
        <span>Personalized
          Designs</span>
        <div></div>
      </div>
      <div class="A3">
        <div>
          <img src="../../../assets/new.svg" alt="">
        </div>
        <span>Influencer
          Dashboard</span>
        <div></div>
      </div>
      <div class="A4">
        <div>
          <img src="../../../assets/new2.svg" alt="">
        </div>
        <span>No Upfront
          Costs</span>
        <div></div>
      </div>
      <div class="A5">
        <div>
          <img src="../../../assets/Vector (1).svg" alt="">
        </div>
        <span>No Minimum
          Orders</span>
        <div></div>
      </div>
      <div class="A6">
        <div>
          <img src="../../../assets/Vector (2).svg" alt="">
        </div>
        <span>Quality
          Products</span>
        <div></div>
      </div>
    </div>
    <img src="../../../assets/bg-01 1.png" alt="">
  </section>
  <!-- <section class="parallaxsection">
    <div class="parallaxSectionBackground">
      <span></span>
    </div>
    <div class="positioner">
      <div class="whiteCircle">
        <div class="headerText">
          <span>OUR</span>
          <span>PROCESS</span>
        </div>
        <div class="circleText firstText">
          <span>Fill out</span>
          <span>the Application Form</span>
          <div></div>
          <span>Tell us about yourself, your social media
            channels, and
            your merch ideas.</span>
        </div>
        <div class="circleText secondText">
          <span>Get approved and</span>
          <span>Sign the contract</span>
          <div></div>
          <span> We will review your application and get
            back
            to you within 24 hours. If you are
            accepted, we will send you a contract to
            sign and agree on the terms and
            conditions.</span>
        </div>
        <div class="circleText thirdText">
          <span>Collaborate</span>
          <span>with our designers</span>
          <div></div>
          <span>We will assign you a dedicated
            designer who will
            work with you to
            create your merch designs. You
            can give your feedback and
            suggestions until you are satisfied
            with the final result.</span>
        </div>
        <div class="circleText fourthText">
          <span>Launch your merch and</span>
          <span>promote it to your audience</span>
          <div></div>
          <span>We will set up your merch
            store on our website and provide you
            with a unique link to share with your
            audience. You can also use our
            marketing tools and tips to
            boost your sales and conversions.</span>
        </div>
        <div class="circleText fifthText">
          <span>Earn money</span>
          <span>and Grow your brand</span>
          <div></div>
          <span>We will handle all the orders, payments,
            shipping, and customer support. You
            will receive your earnings every month
            via your
            preferred payment method.
            You will also get access to your
            influencer dashboard where you can
            monitor your performance and
            growth.</span>
        </div>
      </div>
      <div class="line">
        <div class="positionerFixer">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <img id="camera" src="../../../assets/camera.svg" alt="">
    <img id="people" src="../../../assets/people.svg" alt="">
    <img id="chat" src="../../../assets/chat.svg" alt="">
    <img id="hand" src="../../../assets/hand.svg" alt="">
    <img id="task" src="../../../assets/task.svg" alt="">
    <img id="pickingRight" src="../../../assets/picking right hand.svg" alt="">
    <img id="papper" src="../../../assets/papper.svg" alt="">
    <img id="handpickedpen" src="../../../assets/handpickedpen.svg" alt="">
    <img id="handpen" src="../../../assets/hand pen.svg" alt="">
    <img id="handUp" src="../../../assets/handUp.svg" alt="">
    <img id="book" src="../../../assets/book.svg" alt="">
    <img id="boydrinking" src="../../../assets/boydrinking.svg" alt="">
    <img id="bulb" src="../../../assets/bulb.svg" alt="">
    <img id="downtriangle" src="../../../assets/downtriangle.svg" alt="">
    <img id="girldrinking" src="../../../assets/girldrinking.svg" alt="">
    <img id="heartsmall" src="../../../assets/heartsmall.svg" alt="">
    <img id="megaphone" src="../../../assets/megaphone.svg" alt="">
    <img id="toptriangle" src="../../../assets/toptriangle.svg" alt="">
    <img id="phone" src="../../../assets/phone.svg" alt="">
    <img id="postcard" src="../../../assets/postcard.svg" alt="">
    <img id="rocket" src="../../../assets/rocket.svg" alt="">
    <img id="smile" src="../../../assets/smile.svg" alt="">
    <img id="thunder" src="../../../assets/thunder.svg" alt="">
    <img id="big3rupee" src="../../../assets/big3rupee.svg" alt="">
    <img id="small4rupee" src="../../../assets/small4rupee.svg" alt="">
    <img id="rupee" src="../../../assets/3rupee.svg" alt="">
    <img id="zigzagLine" src="../../../assets/zigzagLine.svg" alt="">
    <img id="growth" src="../../../assets/growth.svg" alt="">
    <img id="big4rupee" src="../../../assets/big4rupee.svg" alt="">
    <div class="backdrop">
    </div>
    <div class="parallaxContent">
    </div>
  </section> -->
  <section class="carousalSection">
    <div class="slide">
      @for (item of imgArr; track $index) {
      <div class="slides">
        <img [src]="item" alt="" srcset="">
      </div>
      }
    </div>
  </section>
  <section class="lastSection">
    <div class="formCard">
      <form [formGroup]="multipleForms" class="multipleForms">
        <div class="firstForm" formGroupName="personalInfo">
          <span>Personal Information</span>
          <div class="container">
            <div class="b1">
              <span>First Name*</span>
              <input type="text" formControlName="firstName">
            </div>
            <div class="b2">
              <span>Last Name*</span>
              <input type="text" formControlName="lastName">
            </div>
            <div class="b3">
              <span>Phone Number*</span>
              <input type="tel" formControlName="phoneNumber">
            </div>
            <div class="b4">
              <span>Email Address*</span>
              <input type="email" formControlName="emailAddress">
            </div>
          </div>
          <button (click)="nextForm()" class="button" [disabled]="!multipleForms.controls['personalInfo'].valid">
            <div>next</div>
          </button>
        </div>
      
        <!-- Second Form -->
        <div class="secondForm" formGroupName="socialLinks">
          <div class="headers">
            <span>Social Links</span>
            <img (click)="goBack()" src="../../../assets/backButton.svg" alt="">
          </div>
          <div class="containerSecond">
            <div class="C1">
              <span>Instagram</span>
              <input type="text" formControlName="instagram">
            </div>
            <div class="C2">
              <span>Facebook</span>
              <input type="text" formControlName="facebook">
            </div>
            <div class="C3">
              <span>Twitter</span>
              <input type="text" formControlName="twitter">
            </div>
            <div class="C4">
              <span>Youtube</span>
              <input type="text" formControlName="youtube">
            </div>
            <div class="C5">
              <span>Linkedin</span>
              <input type="text" formControlName="linkedin">
            </div>
          </div>
          <button (click)="nextForm()" class="button" [disabled]="!multipleForms.controls['socialLinks'].valid">
            <div>next</div>
          </button>
        </div>
        
        <!-- Third Form -->
        <div class="thirdForm" formGroupName="aboutYou">
          <div class="headers">
            <span>About You</span>
            <img (click)="goBack()" src="../../../assets/backButton.svg" alt="">
          </div>
          <div class="containerThird">
            <div class="D1">
              <span>How many followers do you have ?</span>
              <input type="tel" formControlName="followersCount">
            </div>
            <div class="D2">
              <span>What is your reach?</span>
              <input type="text" formControlName="reach">
            </div>
            <div class="D3">
              <span>What is your engagement rate?</span>
              <input type="text" formControlName="engagementRate">
            </div>
            <div class="D4">
              <span>What is your niche or content theme?</span>
              <input type="text" formControlName="niche">
            </div>
          </div>
          <button (click)="nextForm()" class="button" [disabled]="!multipleForms.controls['aboutYou'].valid">
            <div>next</div>
          </button>
        </div>
        
        <!-- Fourth Form -->
        <div class="fourthForm" formGroupName="vision">
          <div class="headers">
            <span>Your Vision</span>
            <img (click)="goBack()" src="../../../assets/backButton.svg" alt="">
          </div>
          <div class="formFlex">
            <div class="interestedMerchInput">
              <span>What kind of merch are you interested in creating?</span>
              <input type="text" formControlName="merchInterest">
            </div>
            <div class="expectationsInput">
              <span>What are your goals and expectations for this collaboration?</span>
              <textarea formControlName="collaborationGoals"></textarea>
            </div>
          </div>
          <button (click)="nextForm()" class="button" [disabled]="!multipleForms.controls['vision'].valid">
            <div>next</div>
          </button>
        </div>
        
        <!-- Fifth Form -->
        <div class="fifthForm" formGroupName="feedback">
          <div class="headers">
            <span>Feedback</span>
            <img (click)="goBack()" src="../../../assets/backButton.svg" alt="">
          </div>
          <div class="formFlex">
            <div class="fifthFormInput">
              <span>How did you hear about us?</span>
              <textarea formControlName="hearAboutUs"></textarea>
            </div>
            <div class="fifthFormInput">
              <span>Do you have any questions or suggestions for us?</span>
              <textarea formControlName="suggestions"></textarea>
            </div>
          </div>
          <button (click)="nextForm()" class="button" [disabled]="!multipleForms.controls['feedback'].valid">
            <div>next</div>
          </button>
        </div>
      </form>
    
    
      
    </div>
    <div class="belowCard"></div>
    <img src="../../../assets/videoplayback-unscreen.gif" alt="">
    <img src="../../../assets/thunderBackground.svg" alt="">
    <img src="../../../assets/lowerBluebackground.svg" alt="">
    <img src="../../../assets/upperBluebackground.svg" alt="">
  </section>
</div>