.myOrderOuter {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    background-color: white;
    margin: 8vw;

    .SideBarMenu {
        width: 30%;
        display: flex;
        flex-direction: column;

        p {
            font-size: 22px;
            font-family: var(--fontNavbar);
            font-weight: 400;
        }

        p:nth-child(1) {
            color: #1C1C1B;
            font-size: 45px;
            font-family: var(--fontNavbar);
            font-weight: 500;
            padding-bottom: 5px;
        }

        p:nth-child(2) {
            font-size: 22px;
            font-family: var(--fontNavbar);
            font-weight: 500;
        }

        p:nth-child(3) {
            font-size: 22px;
            font-family: var(--fontNavbar);
            font-weight: 300;
            margin-top: 3vw;
        }

        button {
            padding: 10px;
            margin: 30px 0;
            width: 150px;
            border-radius: 50px;
            font-size: 22px;
            font-family: var(--fontNavbar);
            color: #ED1C24;
            background-color: transparent;
        }

        p:nth-child(9) {
            font-size: 22px;
            font-family: var(--fontNavbar);
            font-weight: 400;
            margin-top: 10vw;
        }
    }

    .orderDetails {
        width: 70%;
        margin-top: 4vw;
        margin-bottom: 2vw;

        p {
            font-size: 22px;
            font-family: var(--fontNavbar);
            color: #1C1C1B;
            font-weight: 500;
        }

        .orderDetailsInner {
            border: 1px solid #1C1C1B;
            background-color: #DADAD9;
            border-radius: 7px;
            padding: 0 15px;

            .orderDetailsCart {
                border: 1px solid #1C1C1B;
                background-color: white;
                border-radius: 7px;
                margin: 10px 0;
                width: 100%;
                display: flex;
                flex-direction: column;

                .cartOne {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    padding: 20px;

                    .cartOneheader {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        img {
                            width: 50px;
                        }

                        p {
                            font-size: 22px;
                            color: #46A01C;
                            font-weight: 600;
                            font-family: var(--fontNavbar);
                            margin-top: 22px;
                            margin-left: 15px;

                            p {
                                font-size: 18px;
                                color: #1C1C1B;
                                font-family: var(--fontNavbar);
                                font-weight: 500;
                                margin-left: 0px;
                                margin-top: 5px;
                            }
                        }


                        button {
                            height: 45px;
                            margin-top: 10px;
                            padding: 8px;
                            background-color: #FFFF00;
                            border: 1px solid #1C1C1B;
                            border-radius: 7px;
                            color: #ED1C24;
                            font-size: 22px;
                            font-family: var(--fontNavbar);
                        }
                    }
                }

                .cartOneContent {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    padding-bottom: 20px;
                    padding-left: 20px;

                    .orderItemInnerImage {
                        min-height: 10vw;
                        width: 10vw;
                        position: relative;
                        background-color: #D9D9D9;
                        border-radius: 7px;

                        img {
                            width: 100%;
                            padding: 10px;
                            height: auto;
                            display: block;
                        }
                    }

                    .orderItemInnerDetails {
                        margin-left: 20px;
                        margin-top: 3vw;

                        p:nth-child(1) {
                            font-size: 22px;
                            color: #1C1C1B;
                            font-family: var(--fontNavbar);
                            font-weight: 500;
                        }

                        p:nth-child(2) {
                            font-weight: 400;
                            font-size: 22px;
                            color: #1C1C1B;
                            font-family: var(--fontNavbar);
                        }

                        p:nth-child(3) {
                            font-size: 22px;
                            color: #ED1C24;
                            font-family: var(--fontNavbar);
                            font-weight: 400;
                        }
                    }
                }

                .cartOneUpperBottom {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    padding: 20px;

                    li {
                        color: red;
                        font-size: 22px;
                        font-family: var(--fontNavbar);

                        span {
                            color: #1C1C1B;
                        }
                    }
                }

                .cartOneBottom {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 20px;

                    img {
                        width: 200px;
                    }

                    a {
                        text-decoration: none;
                        color: #ED1C24;
                        padding-top: 10px;
                        font-size: 22px;
                        font-family: var(--fontNavbar);
                        font-weight: 500;
                    }
                }


            }
        }

        .paginatedOrder {
            padding: 30px;
            display: flex;
            justify-content: center;

            button:nth-child(1),
            button:nth-child(3) {
                border: none;
                color: #ED1C24;
                font-family: var(--fontNavbar);
                font-size: 22px;
                padding: 0 25px;
                background-color: transparent;
            }

            span {
                color: #333333;
                font-family: var(--fontNavbar);
                font-size: 22px;
                font-weight: 500;
                padding-top: 5px;
                background-color: transparent;
            }
        }
    }
}